*{font-family: Bahnschrift;
}
body,header{padding: 0px}
#top-header-area li:hover{
    text-decoration: underline;
}
#top-header-area{
    display: table;
    font-weight: bold;
    font-size: 17px;
}
#logo img{
    width:150px;
    height:70px;
}
#navigation_containner,#logo{
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
}
#bottom-header-area ul{
    padding-left:0px;
}
/* style for menu items*/
nav ul li{
    text-align: left;
    padding: 15px;
    list-style-type: none;
    display: inline;
}
/** remove default style*/
li a{cursor:pointer;
    color:black;
    text-decoration: none;
}
#products-list{
    display: flex;
}
.video-item-con img{
    /*for the video image*/
    width:120px;
    height: 120px;
}
.video-item-con{
    border-radius:5px;
    margin:5px;
    border: solid 1px #00000077;
    padding: 10px;
    text-decoration: none;
}
.product-title{
    color:black;
}
.product-price-light{
    color:#B6B6B6;
    margin: 0px 0px 2px 0px;

}
.product-price-bold{
    color:black;
}
.product-saving{
    color: #529448;
}
.product-saving,.product-price-light,.product-price-bold{
    font-size:12px;
    display: block;
}
.text-highlighted{
    text-decoration: underline;
    text-underline-color: #A9A9A9;
}